.container{
    width: 300px;;
    border-style: solid;
    height:500px ;
    position: relative;
    float: left;
    margin: 2px;
}
.price{
    position: absolute;
    font-size: 25px;
    
}
.giagoc{

    color: mediumseagreen;
}
.giamgia1{
    color: rgb(216, 37, 37);
}
.dog{
    background-image: url(pic/husky.jpg);
    width: 100%;
    height: 80%;
    position: relative;
    background-repeat: no-repeat;
}
.sale{
    position: absolute;
    top:348px;
    color: lightyellow;
}
.giamgia{
    background-color: lightsalmon;
    
    left: 0;
    font-size: 25px;
}
.tang{
    background-color:limegreen;

    right: 0;
    font-size: 25px;
  
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
