*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    margin: auto;
    border-style: solid;
   
   
}
img {
    width: 394px;
    height: 300px;
  }

p{
    position: absolute;
    background-color: lightsalmon;
    margin-top: -32px;
    font-size: 25px;
}
del{
    font-size: 25px;}
   
span{
   
    color: red;
    font-size: 25px;
}
