*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: auto;
    margin: auto;
    border-style: solid;
}

.sanpham{
     background-image: url(pic/iphone11.jpg);
     height: 500PX;
     width: 494px;
     position: relative;
}
.product{
    position: absolute;
    background-color: red;
    top: 0;
}
.price2{
    right: 0;
    background-color: green;
 } 

.name{
    text-align: center;
}
.price{
    font-size: 25px;
    color: red;
   
}



    
