.container{
    margin: auto;
    height: 800px;
    width: 600px;
    
}
.border{
    border:solid black ;
}
.header{
    height: 100px;
    background-color: cornflowerblue;
}.middle{
    height: 600px;
    border-top: 0;
}
.left{
float: left;
height: 600px;
width: 20%;
border-left: 0;
border-bottom: 0;
float: left;
border-top: 0;
}
.body{
    width: 59%;
    height: 600px;
    float: left;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
   
}
.prebody{
height: 20%;
width: 100%;
border: 0;
border-bottom: solid black;
background-color: cornflowerblue;

}
.midbody{
    width: 100%;
    height: 59%;
   

}.postbody{
    height: 20%;
    width: 100%;
    border: 0;
    border-top: solid black;

}.right{
    float: left;
    height: 600px;
    width: 19%;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    float: left;
    border-top: 0;
}.footer{
    height: 100px;
    background-color: cornflowerblue;
    border-top: 0;
}