*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search{
    height: 80px;
}
.jxs{
    height: 50px;
}
.menu{
    background-color: #000033;
}
.header{
    background-color: #000066;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
p{
    margin: 0 10px;
    color: white;
    font-weight: bold;
}
input{
    width: 60%;
    height: 35px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 0;
    background-color: #000033;
    color:#d6d6c2;
    padding: 15px;
}
input:focus{
    outline: none;
    }
    button{
        background-color: #000033;
        border: 0;
        height: 35px;
        color: #d6d6c2;
        padding-right: 5px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    button:focus{
        outline: none;
    }
    .col-11{
        padding: 0;
    }