*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search{
    height: 80px;
}

.menu{
    background-color: #000033;
}
.header{
    background-color: #000066;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.search p{
    margin: 0 10px;
    color: white;
    font-weight: bold;
}
input{
    width: 60%;
    height: 35px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 0;
    background-color: #000033;
    color:#d6d6c2;
    padding: 15px;
}
input:focus{
    outline: none;
    }
    button{
        background-color: #000033;
        border: 0;
        height: 35px;
        color: #d6d6c2;
        padding-right: 5px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    button:focus{
        outline: none;
    }
    .col-11{
        padding: 0;
    }
    ul{
        display: flex;
        padding: 0;
        margin: 0;
     
    }
    ul li {
        margin: 0 10px;
        list-style: none;
        display: flex;
    }
    .jxs{
        height: 50px;
    }
 
    ul li::before{
        content: "\f006";
        font-family: "FontAwesome";
        font-weight: 500;
        margin: 0 5px 0 0;
    }
.cauhinh{
    border-right: 1px solid darkslateblue;
}
.mobile{

width: 100%;
}
.header-mobile{
    background-color: #000033;
  
}

.header-mobile .row{
margin: 0;
}
.header-mobile img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.header-mobile p{
    padding: 0;
    margin: 0;
    font-weight: bold;


}
.header-mobile .col-4{
    padding: 0;
}
/* footer */
.footer{
    background-color:hsla(222,25%,20%,1);
    
}
.top{
    /* height: 60px; */
    background-color:  hsl(215,34%,15%);
}
.top .container .row{
    
   
    padding: 15px 15px 15px 15px;
}
.top a{
    font-weight: bolder;
}

.contact
{
    background-color:hsla(222,25%,20%,1);
}
.contact a{
    color: #ABABAB;
    float: left;
}
.contact i{
    color: white;
}
.contact a:hover{
    color: white;
}
.contactbox{
    margin-top: 18px;
}
.contactbox p{
    font-size: 20px;

}
.contactbox.col{
    padding: 0;
}
.infor{
   background-color:hsla(222,25%,20%,1) ;
   border-top: 1px solid slategray;
}
.infor span{
    color: #ABABAB;;
    padding: 10px;
    font-size: 13px;
}
@media only screen and (max-width: 400px) {
    .contactbox{
        width: 50% !important;
        min-width: 100% !important ;
        padding: 15px !important;
    }
}
@media only screen and (max-width: 400px) {
    .title{
        width: 50% !important;
        min-width: 100% !important ;
    }
}