*{
    padding: 0;
}
.infor{
    
    background-color: #bc000b;
}
.banner img{
    width: 100%;
}
.header{
    
    background-color: #e5101d;
}
.header .container form input{
    width: 361px;
}

.content{
    background-color: rgb(187, 238, 235);
}

.header-mobile{
    background-color: #bc000b;
}

.menu .list-group{
    padding: 0;
}
.content .carousel{
    padding: 0;
}
.content ul li{
   font-size: 20px;
}

.menu{
    background-color: white;
}
.category img{
    width: 50px;
    height: 50px;
}
.category p{
    font-size: 10px;
}

@media only screen and (max-width: 400px) {
    .topic{
        width: 20% !important;
        min-width: auto !important ;
    }
  }

.sitemap.col-1{
    padding: 0;
    text-align: end;
}




