* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div, p{
    border: 1px solid black;
}
div .ias{
    border: 0px;
}
.block1 .quangcao{
    height: 200px;
}
.block2 .col-6{
    height: 650px;
}
.block2 .col-4{
    height: 400px;
}
.block2 .icon{
    height: 100px;
}
.block2 .seeFeed{
    height: 100px;
}
.block2 .iconAndseeFeed{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.block2 .has{
    height: 300px;
}
.block2 .hashtagandseemore{
    height: 75px;
}
.block2 .scroll{
    height: 225px;
}